*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8;
}
header{
   background-color: rgba(8, 8, 188, 0.901);
   padding: 10px;
   color: white;
   text-align: center;
   font-family: 'Paytone One', sans-serif;
   font-family: 'Secular One', sans-serif;

}

main{
    padding: 30px 50px;
}
.card{
 background-color:#fff;
 border: 1px solid #ccc;
 padding: 20px;
 margin-top: 15px;;
 border-radius: 5px;
 width: 21rem ;
}
.lineInput{
    display: grid;
    margin-bottom: 10px;

}
input{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}
button{
    color: white;
    background-color: rgba(8, 8, 188, 0.901) ;
    border: 0px;
    padding: 10px;
    outline: 0;
    border-radius: 4px;
    font-weight: bold;
    transition: all ease 0.34;
    
}
button:hover{
    background-color: rgba(7, 7, 99, 0.901);
    
    
}
.content{
    padding-top: 2rem;
}
table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 24rem;
}
table th{
    background-color: #dbd7d7da;
}

